@charset "UTF-8";
html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  background-attachment: fixed;
  background-size: 100% auto;
  background-position: bottom;
  background-image: url("https://i.imgur.com/8eAPLn0.png");
  background-repeat: no-repeat;
  background-color: #f0d071;
  font-family: "roboto";
}
p {
  margin: 0;
  font-size: 13px;
}
a {
  text-decoration: none;
  color: inherit;
}
.wrap {
  display: flex;
  width: 800px;
  height: 100%;
  margin: 0 auto 0 100px;
  flex-direction: column;
  overflow: hidden;
  scrollbar-color: rebeccapurple green;
}
.marks {
  height: 100%;
  overflow: auto;
  outline: none;
}
.marks .simplebar-track.simplebar-vertical {
  width: 25px;
}
.marks .simplebar-track.simplebar-vertical .simplebar-scrollbar {
  width: 18px;
}
.control {
  font-size: 0;
  padding: 10px 0 5px 0;
}
.control .toast {
  display: inline-block;
  height: 30px;
  background-color: #07070a;
  border-radius: 5px;
  margin: 0 1px 0 1px;
  transition: background-color 0.2s;
  cursor: pointer;
}
.control .toast:hover {
  background-color: #de3e3d;
}
.control .toast:nth-of-type(2) p {
  padding: 0 3px 0 3px;
}
.control .toast p {
  font-size: 13px;
  color: white;
  padding: 0px 10px 0 10px;
  line-height: 30px;
}
.control .toast p img {
  height: 25px;
  vertical-align: top;
  padding-top: 2px;
}
.mark {
  display: inline-flex;
  width: 90px;
  height: 118px;
  text-align: center;
  border-radius: 16px;
  padding: 5px 0 10px 0;
  vertical-align: top;
  margin: 1px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
}
.mark:hover {
  background-color: #de3e3d;
}
.mark.folder {
  background-color: #07070a;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.mark.folder:hover {
  background-color: #de3e3d;
}
.mark.internal img {
  margin-bottom: 20px;
}
.mark img {
  width: 25px;
  height: 25px;
}
.mark p {
  width: 100%;
  max-height: 75px;
  overflow: hidden;
  padding: 0px 5px 0px 5px;
  word-break: break-word;
  box-sizing: border-box;
}
.sankaku {
  display: inline-block;
  background-color: #07070a;
  padding: 10px 5px 20px 5px;
  border-radius: 5px;
  cursor: pointer;
}
.sankaku img {
  height: 20px;
}
.sankaku-control {
  display: inline-block;
  background-color: #07070a;
  padding: 10px 5px 20px 5px;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  width: 725px;
  margin-top: 6px;
  padding: 10px 5px 8px 5px;
}
.sankaku-control img {
  height: 20px;
}
.sankaku-control.disabled {
  display: none;
}
.sankaku-control img {
  vertical-align: top;
  padding: 28px 53px 0px 28px;
}
.sankaku-control .input-areas {
  display: inline-block;
  width: 82%;
}
.sankaku-control .input-areas input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  color: white;
  outline: none;
  padding: 5px;
  font-size: 13px;
  font-family: "roboto";
  box-sizing: border-box;
}
.sankaku-control .input-areas input.bookmark-title {
  font-size: 18px;
}
.sankaku-control .input-areas .in-dark-button {
  display: inline-block;
  margin-top: 5px;
  padding: 5px;
  border-radius: 4px;
  transition: background-color 0.2s;
  cursor: pointer;
}
.sankaku-control .input-areas .in-dark-button img {
  padding: 0;
}
.sankaku-control .input-areas .in-dark-button:hover {
  background-color: #de3e3d;
}
