@charset "UTF-8";
body {
  margin: 0;
  background-attachment: fixed;
  background-size: 100% auto;
  background-position: bottom;
  background-image: url("https://i.imgur.com/J4O4uT2.png");
  background-repeat: no-repeat;
  background-color: #fefff1;
  font-family: "roboto";
}
p {
  margin: 0;
  font-size: 13px;
}
a {
  text-decoration: none;
  color: inherit;
}
.wrap {
  width: 800px;
  margin: 0 0 0 auto;
}
.marks {
  padding: 10px 0 0 0;
}
.control {
  font-size: 0;
  padding-top: 10px;
}
.control .toast {
  display: inline-block;
  height: 30px;
  background-color: #353030;
  border-radius: 5px;
  margin: 0 1px 0 1px;
}
.control .toast p {
  font-size: 13px;
  color: white;
  padding: 0px 10px 0 10px;
  line-height: 30px;
}
.mark {
  display: inline-flex;
  width: 90px;
  height: 118px;
  text-align: center;
  border-radius: 16px;
  padding: 5px 0 10px 0;
  vertical-align: top;
  margin: 1px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
}
.mark:hover {
  background-color: #b5a17c;
}
.mark.folder {
  background-color: #353030;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.mark.folder:hover {
  background-color: #b5a17c;
}
.mark img {
  width: 25px;
  height: 25px;
}
.mark p {
  max-height: 75px;
  overflow: hidden;
  padding: 0px 5px 0px 5px;
  box-sizing: border-box;
}
